/* стилі для головної сторінки*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 10px;
}

a {
  text-decoration: none;
  font-size: 24px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(155, 98, 220);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #cd47cf;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

/* Загальні стилі для таблиць */
table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  border: 2px solid #525252;
  text-align: center;
  vertical-align: top;
  height: 50px;
}

/* стилі для першої таблиці */
.table-1 {
  width: 75%;
}

/* ширина 33.33% для 1-4-7, 2, 3 */
.table-1 .cell-1-4-7,
.cell-2,
.cell-3 {
  width: 33.33%;
}

/* висота 200px лише для 5-6 */
.table-1 .cell-5-6 {
  height: 200px;
}


/* стилі для другої таблиці */
.table-2 {
  width: 75%; 
}

.table-2 .cell-1-2 {
  height: 50px; 
}

.table-2 .cell-3 {
  width: 60%; 
  height: 50px; 
}

.table-2 .cell-4 {
  width: 28%; 
  height: 100px;
}

.table-2 .cell-5-6 {
  height: 100px; 
  vertical-align: middle; 
}

.table-2 .cell-7 {
  width: 28%; 
  height: 100px; 
}

/* cтилі для вкладеної таблиці */
.nested-table {
  width: 80%; 
  margin: 0 auto; 
  height: 160px; 
}

.nested-table td {
  text-align: center;
  vertical-align: top;
}

.nested-table .cell-nested-1 {
  height: 55px; 
}

.nested-table .cell-nested-9 {
  height: 55px; 
}
