/* Загальні стилі для таблиць */
table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  border: 2px solid #525252;
  text-align: center;
  vertical-align: top;
  height: 50px;
}

/* стилі для першої таблиці */
.table-1 {
  width: 75%;
}

/* ширина 33.33% для 1-4-7, 2, 3 */
.table-1 .cell-1-4-7,
.cell-2,
.cell-3 {
  width: 33.33%;
}

/* висота 200px лише для 5-6 */
.table-1 .cell-5-6 {
  height: 200px;
}


/* стилі для другої таблиці */
.table-2 {
  width: 90%;
}

.table-2 .cell-3 {
  width: 60%;
}

.table-2 .cell-4 {
  width: 28%;
}

/* Стилі для вкладеної таблиці */
.nested-table {
  width: 80%;
  margin: 30px auto;
}

.nested-table .cell-nested-1,
.nested-table .cell-nested-2-5-8,
.nested-table .cell-nested-3-6 {
  width: 33.33%;
}

.nested-table .cell-nested-3-6,
.nested-table .cell-nested-4-7 {
  height: 200px;
}